<div class="container">

<div class="col-sm-4">
    <div class="form-area">
        <form ng-submit="buscaMegaSena()">

          <h3 style="margin-bottom: 25px; text-align: center;">Busca Pelo Concurso</h3>

          <div class="form-group">
            <label>Numero do Concurso</label>
            <input type="text" class="form-control" ng-model="mega.concurso" placeholder="Concurso" required>
          </div>

          <input type="submit" value="Enviar" class="btn btn-primary">
        </form>
    </div>
</div>

<div class="col-sm-2"></div>

<div class="col-sm-4">
    <div class="form-area well">

        <h3 style="margin-bottom: 25px; text-align: center;">Dados do Concurso</h3>

      <div class="form-group">
        <label>Acumulou </label>
        <input type="text" class="form-control" ng-model="resMega.Acumulou" required>
      </div>

      <div class="form-group">
        <label>Estimativa Premio</label>
        <input type="text" class="form-control" ng-model="resMega.EstimativaPremio" required>
      </div>

      <div class="form-group">
        <label>Valor Acumulado</label>
        <input type="text" class="form-control" ng-model="resMega.ValorAcumulado" required>
      </div>

      <div class="form-group">
        <label>Data</label>
        <input type="text" class="form-control" ng-model="resMega.Data" required>
      </div>

      <div class="form-group">
        <label>Arrecadacao</label>
        <input type="text" class="form-control" ng-model="resMega.Arrecadacao" required>
      </div>

    </div>
</div>

</div>
